    html {
        align-items: center;
        color: white;
        display: flex;
        font-family: 'Arial';
        font-size: 25px;
        height: 100%;
        justify-content: center;
        margin: 0;
      }
    
      body {
        display: flex;
        margin: 1em;
        padding: 1em;
        background-size: 100%;
      }
    
      h1 {
        font-size: 2em;
        grid-column: 1 / -1;
        margin: 0;
        text-align: left;
        color: white;
      }
    
      a {
        color: inherit;
        text-decoration: none;
      }
    
      a:focus,
      a:hover {
        color: #d66b70;
      }
    
      nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 1em;
        min-width: 24em;
        padding: 1em 0;
      }
    
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
      }
    
      li:first-child {
        font-weight: bold;
        line-height: 2em;
        color: #a62d34;
      }
    
      img {
        height: 600px;
        width: 350px;
        margin-right: 2em;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    
    input {
    background-color: unset;
    color: white;
    font: 'Arial';
    height: 100%;
    width: 100%;
    border-top-style: hidden;
    border-bottom-style: soild;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-color: #292929;
    text-align: left;
    margin-top: 50px;
    outline: 0;
    padding-bottom: 0.5em;
    text-decoration: none;
    animation: blink 2s linear infinite;
    }

  @keyframes blink {
      0%{opacity: 0;}
      50%{opacity: .5;}
      100%{opacity: 1;}
  }